<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{% static "js/main.js" %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="contaiter">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Добавление новой заметки</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="form1">
                        {% csrf_token %}

                        <label>Заголовок</label>
                        <div id="newTitle">        {{ form.title }}</div>
                        <label for="textnew">Описание</label>

                        <div id="textnew">        {{ form.text }}</div>
                        <label for="catnew">Категория</label>

                        <div id="catnew">        {{ form.category }}</div>
                        <label for="marknew">Избранная</label>

                        <div id="marknew">        {{ form.mark }}</div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="submit" form="form1" value="Submit">Submit</button>
                </div>
            </div>

        </div>
    </div>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
                <a href="/logout/">Выйти</a>

        <div class="form-container">
            <form id="filter">
                <label for="titlefilter"> Заголовок </label>
                <input id="titlefilter">
                <label for="catfilter">Категория</label>
                <select id="catfilter">
                    <option></option>

                    {% for cat in category %}
                        <option>{{ cat }}</option>
                    {% endfor %}
                </select>
                <label for="datefilter">Дата</label>
                <input type="date" id="datefilter">
                <button type="button" id="findfilter">ОК</button>
            </form>
        </div>
        <button type="button" class="btn btn-info btn-lg" id="newNote" data-toggle="modal" data-target="#myModal">
            Создать новую заметку
        </button>
        <a id="sortbycat">Сортировать по категории</a>
        <a id="sortbyeject">Показать сначала избранные</a>
        <div id="notes-container">


            {% for note in notes %}
                <div id="{{ note.id }}" class="card">

                    <span class="card-cat">{{ note.category.name }}</span>
                    <span class="delete-note">&#10006;</span>

                    <div class="card-body">
                        <h5 class="card-title">{{ note.title }}</h5>
                        <p class="card-text">{{ note.text }}</p>
                        <div class="card-date">{{ note.date }}</div>
                        <a href="/note/{{ note.id }}/" class="btn btn-primary">Перейти к заметке</a>
                    </div>
                    {% if note.mark %}
                        <p class="eject"> &#9733;</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% else %}
        <a href="/signup">Зайдите или зарегистрируйтесь в системе</a>
    {% endif %}
</div>
</body>
</html>